<html>
    <head>
      <title> {{ title }} </title> 
    </head>
    <header>
        <h1>BOOKS ARE CLASS!</h1>
    </header>
    <body>
        <form action="/books">
            <label for="title">Title:</label>
            <input type="text" id="title">
            <br>
            <br>
            <label for="author">Author:</label>
            <input type="text" id="genre">
            <br>
            <br>
            <label for="genre">Genre</label>
            <input type="text" id="genre">
            <br>
            <br>
            <button type="submit">Search!</button>
        </form>
        <h3> Here it is: </h3>
        {% for book in books %}
        <form action="/books/{{ books.index[id] }}" method="post">
            <div>
                <p>
                    <b><a="/books/{{ books.index[id] }}>{{ "> " + book.title }}</b>
                        {{ "by " + book.author + "."}}
                         {{ book.genre }} 
                </p>
            </div>
            </form>
            {% endfor %}


    <form action="/add_book{{ books.index[book3] }}>
        <h3> Add New Book? </h3>
        <label for="title">Title:</label>
        <input type="text" id="title">
        <br>
        <br>
        <label for="author">Author:</label>
        <input type="text" id="genre">
        <br>
        <br>
        <label for="genre">Genre</label>
        <input type="text" id="genre">
        <br>
        <br>
        <input class="add_book" type="submit" value="Enjoy">
    </form>

    <form action="/remove_book{{ books.index[0] }}">
        <h3> Remove Book? </h3>
        <label for="title">Title:</label>
        <input type="delete" id="title">
        <br>
        <br>
        <input class="remove_book" type="submit" value="Get rid of it!">
    </form>

</html>
    
</body>

  
